* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
}

/* header section */
header {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    height: 210px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* typography */
h1 {
    font-size: 2.625rem;
    font-weight: 800;
    margin-bottom: 10px;
}

nav > p {
    font-size: 0.875rem;
    font-weight: 700;
    
}

.film-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.film-rating {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.film-typography {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin: 0 20px 0 0;
}

.film-plot {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0;
    line-height: 1.5;
}

header,
section,
main {
    min-width: 370px;
}

/* form */
form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 192px;
    width: 100vw;
}

.input-container {
    display: flex;
    justify-content: center;
    position: relative;
} 

input {
    padding: 9px 13px 9px 35px;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #a5a5a5;
    background-color: #2e2e2f;
    min-width: 150px;

}

.input-container > i {
    width: 20px;
    margin: 9px 3px;
    position: relative;
    left: 30px;
    color: #ffffff;
}

button {
    min-width: 120px;
    padding: 9px 11px 9px 17px;
    background-color: #4b4b4b;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* main body */
.container {
    padding-top: 50px;
}

.start-exploring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #2e2e2f;
    font-size: 18px;
    font-weight: 700;
    width: 320px;
    margin: 0 auto;
}

.start-exploring p {
    margin-top: 10px;
}


/* film container */
.film-container {
    display: flex;
    min-width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #2c2c2c;
    padding: 20px 20px 20px 20px;
}

.img-container {
    display: flex;
    margin-right: 21px;
}

.film-poster {
    width: 100px;
}

.film-details {
    display: flex;
    flex-direction: column;
}

.film-title-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;

}
.rating-star {
    margin: 0 4px;

}

.film-info {
    display: flex;
    flex-wrap: wrap;
}

i {
    cursor: pointer;
    align-self: left;
    margin-right: 5px;
}

.fa-solid {
    color: #fff;
}

.watchlist-text {
    display: none;
}

img {
    align-self: center;
}

/* my watchlist page */
.watchlist-empty-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.watchlist-empty-container p {
    margin-bottom: 10px;
}

.watchlist-heading,
.watchlist-paragraph {
    color: #fff;
}

.watchlist-heading {
    font-size: 42px;
    font-weight: 800;
}

.watchlist-paragraph {
    font-size: 14px;
    font-weight: 700;
}

.empty-watchlist-paragraph {
    text-align: center;
}

.watchlist-small-paragraph {
    padding-left: 10px;
}


/* media queries */
@media (min-width: 480px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        
    }

    h1 {
        margin-bottom: 34.860px;
    }

    .input-container {
        width: 80%;
    }

    input {
        width: 80%;
    }

    .film-container {
        max-width: 550px;
        padding: 20px 0 20px 0;
    }

    .film-info {
        flex-wrap: nowrap;
    }

    i {
        align-self: center;
    }

    .watchlist-text {
        display: block;
    }

    .img-container {
        display: block;
    }
}